@page "/pokedex" 
@page "/displaygen1"

@using NuzlockeAssistant.Models
@using DataLibrary

@inject IDataAccess _data
@inject IConfiguration _config
@namespace pokedex

<PageTitle>Pokedex</PageTitle>

<h1>Generation 1 Pokedex</h1>

@if (pokemon == null)
{
    <p><em>Loading...</em></p>

}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type 1</th>
                <th>Type 2</th>
                <th style="color:limegreen">HP</th>
                <th style="color:red">Attack</th>
                <th style="color:blue">Defense</th>
                <th style="color:indigo">Special</th>
                <th style="color:gold">Speed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in pokemon)
            {
                <tr>
                    <td>@p.Number</td>
                    <td>@p.Name</td>
                    <td>@p.Type1</td>
                    <td>@p.Type2</td>
                    <td style="color:limegreen">    @p.HP</td>
                    <td style="color:red">    @p.Attack</td>
                    <td style="color:blue">   @p.Defense</td>
                    <td style="color:indigo">   @p.Special</td>
                    <td style="color:gold">    @p.Speed</td>

                </tr>
            }
        </tbody>
    </table>

}




@code {

    List<Pokemon> pokemon;


    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from displaygen1";
        pokemon = await _data.LoadData<Pokemon, dynamic>(sql, new { }, _config.GetConnectionString("gen1connection"));
    }
}
